<div class="dongnantop">
	<div class="top_top">
		<div class="header">
		</div>
		<div class="logo">
			<img src="{$static_dir}img/logo.jpg?__stamp__">
		</div>
	</div>
	<div class="navigation">
		<div class="nav_dh_b">
			<ul class="topnav">
				<li>
					<a href="9468" class="nav_title_b">
						公司介绍
					</a>
					<ul class="subnav">
						<li>
							<a href="9468">
								公司简介
							</a>
						</li>
						<li>
							<a href="9468">
								公司简介
							</a>
						</li>
					</ul>
					<span>
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="clearbox">
</div>