{function name="intrs"}

			<div class="left">
				<p class="sy_bt">
					<strong>
						业务介绍
					</strong>
				</p>
				<li id="ppt">
					<div class="showtitle">
						<a href="9548" target="_blank">
							<acronym>
								销售业务
							</acronym>
						</a>
					</div>
					<div class="showpic" id="ppt">
						<a href="9548" target="_blank">
							<img src="static/8621384418357.jpg" style="opacity: 1;">
						</a>
					</div>
					<div class="showtxt">
						<span>
							<a style="display:inline" href="9548" target="_blank">
								销售业务...
							</a>
						</span>
						<br>
						<a class="a" href="9548" target="_blank">
							了解详情
						</a>
					</div>
				</li>
				<li>
					<div class="showtitle">
						<a href="9549" target="_blank">
							<acronym>
								维修业务
							</acronym>
						</a>
					</div>
					<div class="showpic" id="ppt">
						<a href="9549" target="_blank">
							<img src="static/8631381742470.jpg" style="opacity: 1;">
						</a>
					</div>
					<div class="showtxt">
						<span>
							<a style="display:inline" href="9549" target="_blank">
								一汽大众自1991年2月6日成立以来，一直受到全国各界关注...
							</a>
						</span>
						<br>
						<a class="a" href="9549" target="_blank">
							了解详情
						</a>
					</div>
				</li>
				<li>
					<div class="showtitle">
						<a href="9550" target="_blank">
							<acronym>
								俱乐部
							</acronym>
						</a>
					</div>
					<div class="showpic" id="ppt">
						<a href="9550" target="_blank">
							<img src="static/4691381742506.jpg" style="opacity: 1;">
						</a>
					</div>
					<div class="showtxt">
						<span>
							<a style="display:inline" href="9550" target="_blank">
								经过几年的摸索，现已建...
							</a>
						</span>
						<br>
						<a class="a" href="9550" target="_blank">
							了解详情
						</a>
					</div>
				</li>
			</div>
{/function}