{extends file='Admin/layout.html'}
{block name='content'}
<div id="ct" class="clrfix"
     ms-controller="admin">
    <div class="well">
        <ul class="nav nav-list">
            <li class="nav-header">Favorites</li>
            <li 
                ms-repeat-item="menu"
                ms-class="active:item[1]==view" 
                ms-click="viewTo($event, item[1])"><a href="#"><i class="icon-home" 
                    ms-class="icon-white:view==item[1]"></i> 
                %-item[0]-%管理
            </a></li>
        </ul>
    </div>

    <div id="view">
        <div class="xrow">
            <ul id="addressbar" class="breadcrumb">
                管理员<a href="{$editUrl|escape}">{$user.username|escape}</a>在线
            </ul>
        </div>
        <div class="xrow admin-row"> 
        </div>
    </div>
</div>
{/block}
{block name="script"}
    window.MenuData = {$menu};
{/block}